# Python 缓存
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# 虚拟环境
venv/
.venv/
env/

# 系统文件
.DS_Store

# 日志
*.log

# 忽略 data 下所有具体文件
2503_test_bg/**
!2503_test_bg/**/
!2503_test_bg/**/.gitkeep

2503_test_bg_depthmap/**
!2503_test_bg_depthmap/**/
!2503_test_bg_depthmap/**/.gitkeep

2503_test_labels_nochange_normal/**
!2503_test_labels_nochange_normal/**/
!2503_test_labels_nochange_normal/**/.gitkeep

2503_test_videos/**
!2503_test_videos/**/
!2503_test_videos/**/.gitkeep
heightnet_data_midrun/
heightnet_data_midrun_person_camera_split/
heightnet_data_midrun_person_split/
heightnet_data_midrun_subset/
models/
DEIMv2
ORViT
height/model/2503_test_bg/
2503_test_bg_depthmap/
selected_30_per_person_camera_one_video.txt
